@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes showHide {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .infinite-show-hide {
    animation: showHide 1s infinite; 
  }